src/main/mule/mc-document-prc-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="mc-document-prc-api-config" api="resource::d5150cda-4592-478a-b718-23ff3e2b60a3:mc-document-prc-api:1.0.1:raml:zip:mc-document-prc-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="mc-document-prc-api-main">
        <http:listener config-ref="mc-customer-prc-api-listener-configuration" path="${api.version}${api.basePath}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="var : correlationId" doc:id="65830a7c-1bd6-4222-b584-4811012bc2d5">
			<ee:variables>
				<ee:set-variable variableName="correlationId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'X-Correlation-Id' default correlationId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="mc-document-prc-api-config" />
		<error-handler ref="common-exception-handler">
        </error-handler>
    </flow>
    <flow name="get:\healthCheck:mc-document-prc-api-config">
		<flow-ref doc:name="health-check-sub-flow" doc:id="b206a268-1a83-41a6-aa71-b0b2226ee854" name="health-check-sub-flow" />
    </flow>
    <flow name="post:\document\(customerName)\inbound\(transactionType):text\plain:mc-document-prc-api-config">
		<ee:transform doc:name="var : transactionType &amp; customerName" doc:id="38b2e107-eef6-449d-9cc1-f9d552dd2399" >
			<ee:variables >
				<ee:set-variable variableName="customerName" ><![CDATA[attributes.uriParams.'customerName']]></ee:set-variable>
				<ee:set-variable variableName="transactionType" ><![CDATA[attributes.uriParams.'transactionType']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="edi-document-processing-sub-flow" doc:id="92b5b67d-f606-4b23-89f4-8ccf9337bc54" name="edi-inbound-document-processing-sub-flow" />
    </flow>
</mule>
